@import "../../style.scss";

.profiles {
  @include themify($themes) {
    background-color: themed("bgSoft");
  }
  @include mobile() {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  @include large() {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .container {
    width: 100%;
    .images {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;

      @include mobile() {
        height: auto;
        width: 100%;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
      }
      @include tablet() {
        height: auto;
        width: 100%;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
      }
      @include large() {
        height: auto;
        width: 100%;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
      }
      @include xlarge() {
        height: auto;
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .cover {
        width: 100%;
        height: auto;
        object-fit: cover;
        @include xlarge() {
          width: 60%;
          height: auto;
          margin-top: 50px;
        }
      }
      .profilePic {
        width: 300px;
        height: 300px;
        object-fit: cover;
        position: absolute;
        border-radius: 10px;
        top: -10px;
        right: 0px;
        margin: auto;

        @include mobile() {
          width: 200px;
          height: 200px;
          position: static;
          left: 0px;
          top: 10px;
          margin-top: 0px;
        }
        @include tablet() {
          width: 200px;
          height: 200px;
          position: static;
          left: 0px;
          top: 10px;
          margin-top: 0px;
        }
        @include large() {
          width: 300px;
          height: 300px;
          position: static;
          left: 0px;
          top: 10px;
          margin-top: 0px;
        }
        @include xlarge() {
          position: absolute;
          top: -10px;
          right: 15%;
        }
      }
    }
    .profileContainer {
      padding: 20px 70px;
      width: 300px;
      display: flex;
      position: absolute;
      right: 390px;
      top: 300px;

      @include mobile() {
        position: static;
        height: auto;
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        margin: auto;
        width: 80%;
        display: flex;
        padding: 0px 0px;
        box-sizing: border-box;
      }
      @include tablet() {
        position: static;
        height: auto;
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        margin: auto;
        width: 80%;
        display: flex;
        padding: 0px 0px;
        box-sizing: border-box;
      }
      @include large() {
        position: static;
        height: auto;
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        margin: auto;
        width: 80%;
        display: flex;
        padding: 0px 0px;
        box-sizing: border-box;
      }
      @include xlarge() {
        position: absolute;
        right: 33%;
        top: 300px;
      }

      .userInfo {
        box-shadow: 0px 0px 4px 0px rgba(167, 167, 167, 0.75);
        -webkit-box-shadow: 0px 0px 4px 0px rgba(167, 167, 167, 0.75);
        -moz-box-shadow: 0px 0px 4px 0px rgba(167, 167, 167, 0.75);
        height: 200px;
        width: 100%;
        border-radius: 20px;
        border-top: none;
        padding: 50px;
        gap: 20px;

        @include themify($themes) {
          background-color: themed("bg");
          color: themed("textColor");
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include mobile() {
          flex-direction: column;
          margin-top: 0px;
          padding: 10px;
          margin: 0px;
        }
        @include tablet() {
          flex-direction: column;
          margin-top: 0px;
          padding: 10px;
          margin: 0px auto;
          margin-left: 20px;
        }
        @include large() {
          flex-direction: column;
          margin-top: 0px;
          padding: 10px;
          margin: 0px auto;
          margin-left: 20px;
        }

        .left {
          flex: 1;
          display: flex;
          align-items: center;
          gap: 20px;
        }
        .center {
          flex: 1;
          display: flex;
          align-self: center;
          justify-content: center;
          font-size: 50px;
          font-weight: 500;
          margin-bottom: 30px;

          @include mobile() {
            align-self: center;
          }
          @include tablet() {
            align-self: center;
          }
          @include large() {
            align-self: center;
          }
        }
        .right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 20px;
          position: absolute;
          right: 90px;
          top: 40px;
          @include mobile() {
            position: static;
          }
          @include tablet() {
            position: static;
          }
          @include large() {
            position: static;
          }
        }
        .actionButton {
          cursor: pointer;
        }
      }
    }
  }
}
