@import "../../style.scss";

.rightBar {
  flex: 2;
  display: flex;
  position: sticky;
  top: 57px;
  height: calc(100vh - 70px);
  overflow: scroll;
  width: auto;
  z-index: 1000;

  &.open {
    @include mobile() {
      position: fixed;
      top: 42px;
      right: 0px;
      width: 350px;
      height: 100%;
      border: 1px solid lightgrey;
    }
    @include tablet() {
      position: fixed;
      top: 57px;
      right: 0px;
      width: 350px;
      height: 100%;
      border: 1px solid lightgrey;
      height: 100%;
    }
    @include large() {
      position: fixed;
      top: 57px;
      right: 0px;
      width: 350px;
      height: 100%;
      border: 1px solid lightgrey;
      height: 100%;
    }
    @include xlarge() {
      width: 100%;
      min-width: 350px;
    }
  }

  &.closed {
    @include mobile() {
      display: none;
    }
    @include tablet() {
      display: none;
    }
    @include large() {
      width: 100%;
      min-width: 200px;
    }
    @include xlarge() {
      width: 100%;
      min-width: 200px;
    }
  }

  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColorSoft");
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    .item {
      box-shadow: 0px 0px 4px 0px rgba(167, 167, 167, 0.75);
      -webkit-box-shadow: 0px 0px 4px 0px rgba(167, 167, 167, 0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(167, 167, 167, 0.75);
      padding: 20px;
      margin: 20px;
      background-color: white;
      border-radius: 10px;
      width: auto;

      @include themify($themes) {
        background-color: themed("bg");
        color: themed("textColor");
      }

      span {
        color: grey;
      }
      .user {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: auto;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 0px;
          position: relative;
          width: auto;
          height: auto;
          min-width: 250px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          .online {
            width: 10px;
            height: 10px;
            background-color: limegreen;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 20px;
          }
          p {
            display: flex;
            flex-direction: row;
            font-size: 13px;
            color: grey;
            margin: 5px 10px;
          }
          .log {
            display: flex;
            flex-direction: row;
            font-size: 13px;
            color: grey;
            margin: 0px 5px;
          }
          .firstUser {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 0px;
            margin-top: 5px;
            @include themify($themes) {
              color: themed("textColorSoft");
            }
          }

          .secondUser {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 0px;
            margin-top: 5px;
            @include themify($themes) {
              color: themed("textColorSoft");
            }
          }

          .userSuggest {
            font-weight: 500;
            font-size: 15px;
            margin: auto;

            @include themify($themes) {
              color: themed("textColorSoft");
            }
          }
          .button {
            display: flex;
            align-items: end;
            justify-content: end;
            cursor: pointer;
            gap: 15px;
            position: absolute;
            right: 0;
          }
        }

        span {
          font-size: 10px;
          color: rgb(160, 157, 157);

          width: fit-content;
        }
      }
    }
  }
}
