@import "../../style.scss";

button:disabled,
button[disabled] {
  background-color: #cccccc !important;
  cursor: not-allowed !important;
}

.login {
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile() {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .card {
    display: flex;
    width: 70%;
    min-height: 600px;
    @include mobile() {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      min-width: none;

      margin-top: 0px;
      border-radius: 10px;
    }

    .left {
      flex: 2;
      background: linear-gradient(
          rgba(21, 5, 235, 0.596),
          rgba(255, 255, 255, 0)
        ),
        url("https://cdn.pixabay.com/photo/2017/03/19/03/40/avatar-2155431_960_720.png")
          center;
      background-size: cover;
      border-radius: 10px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: start;
      @include mobile() {
        margin: 0;
        padding: 15px 30px;
        border-radius: 0%;
        border-top-left-radius: 15%;
        display: flex;
      }

      h1 {
        font-size: 80px;
        line-height: 3px;
        color: white;
        @include mobile() {
          font-size: 20px;
        }
      }
      p {
        color: white;
        @include mobile() {
          font-size: 12px;
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
      span {
        font-size: 14px;
        color: rgb(255, 255, 255);
        @include mobile() {
          font-size: 13px;
        }
      }
      button {
        width: 150%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 16px;
        color: #0e14cf;
        @include mobile() {
          font-size: 12px;
          width: 80px;
          padding: 8px;
        }
      }
    }
    .right {
      flex: 1;
      background-color: white;
      border-radius: 10px;
      gap: 50px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile() {
        flex: 4;
      }
      h1 {
        color: rgb(0, 0, 0);
        font-size: 50px;
        line-height: 50px;
        @include mobile() {
          font-size: 30px;
          justify-content: center;
          align-items: center;
          line-height: normal;
          display: flex;
          margin: 8px;
          padding: 0px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightblue;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #0e34dad5;
          color: white;
          border-radius: 10px;
          font-weight: bold;
          cursor: pointer;
          margin-inline-start: auto;
        }
      }
    }
  }
}
