@import "../../style.scss";

.navbar {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 0px;
  border: 0.5px solid;
  @include themify($themes) {
    border-color: themed("border");
  }
  position: sticky;
  z-index: 99;
  top: 0;
  width: 100%;
  height: auto;
  margin: auto;
  @include tablet() {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include large() {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include xlarge() {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .left {
    display: flex;
    align-items: center;
    // gap: 20px;
    margin-right: 50px;
    @include mobile() {
      margin: 10px 10px;
    }
    @include tablet() {
      margin: 0px 10px;
    }
    @include large() {
      margin: 0px 10px;
      gap: 20px;
    }
    @include xlarge() {
      margin: 0px 10px;
      gap: 20px;
    }
    span {
      font-weight: bold;
      @include themify($themes) {
        color: themed("textColor");
      }
      @include tablet() {
        margin-right: 20px;
      }
    }
    .search {
      display: flex;
      align-items: center;
      border: 1px solid;
      @include themify($themes) {
        border-color: themed("border");
      }
      @include mobile() {
        display: none;
      }
      border-radius: 15px;
      gap: 10px;
      padding: 5px;
      input {
        width: 150px;
        border: none;
        outline: none;

        @include mobile() {
          display: none;
        }

        @include themify($themes) {
          background-color: themed("bg");
          color: themed("textColor");
        }
      }
    }
  }

  .middle {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 15px;
    left: 350px;
    display: none;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    justify-content: space-around;
    @include mobile() {
      margin: 10px 20px;
    }
    @include tablet() {
      margin: 10px 10px;
    }
    @include large() {
      justify-content: space-between;
      margin-right: 10px;
    }
    @include xlarge() {
      justify-content: space-between;
      margin-right: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
        height: 30px;
        border: 1px solid lightgray;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        font-weight: 500;
      }
      .button {
        cursor: pointer;
      }
    }
  }
  button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .rightSideBarButton {
    // position: absolute;
    // right: 10px;
    // top: 15px;
    cursor: pointer;
    @include themify($themes) {
      color: themed("logo");
    }
    @include mobile() {
      margin: 10px 10px;
    }
    @include tablet() {
      margin: 10px 10px;
    }
    @include large() {
      margin: 10px 10px;
    }
    @include xlarge() {
      display: none;
    }
  }
  .leftSideBarButton {
    // position: absolute;
    // left: 10px;
    // top: 15px;
    cursor: pointer;
    @include themify($themes) {
      color: themed("logo");
    }
    @include mobile() {
      margin: 10px 10px;
    }
    @include tablet() {
      margin: 10px 10px;
    }
    @include large() {
      display: none;
    }
    @include xlarge() {
      display: none;
    }
  }
  .leftSideBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border: 1px solid black;
    @include large() {
      display: none;
    }
    @include xlarge() {
      display: none;
    }
  }
  .darkMode {
    cursor: pointer;
  }
}
